# dependencies
node_modules/
.pnp
.pnp.*

# next.js
.next/
out/

# production
build/

# env files
.env
.env.*
!.env.prod.example
.env.sentry-build-plugin

# debug
npm-debug.log*

# typescript
*.tsbuildinfo
next-env.d.ts

# IDE
.vscode/
.idea/
*.code-workspace

# OS
.DS_Store
Thumbs.db

# playwright
playwright-report/
test-results/

# claude
.claude/
.vercel
